body {
  color: #404040;
  margin: 0;
  padding: 0;
}

h3 {
  color: #7676AD;
}

h2 {
  color: #7676AD;
}

#search-disclaimer {
  font-size: 11px;
  color: gray;
}

#search-disclaimer:hover {
  cursor: pointer;
  font-size: 11px;
  color: gray;
}

#header {
  background-color: ;
  color: #7676AD;
}

#search {
  max-width: 95%;
}

#search-box {
  margin-top: 10px;
  width: 95%;
  height: 30px;
  font-size: 18px;
  display: inline-block;
}
#venue {
  border-bottom: 1px solid #eee;
}
#venue:hover {
  background-color: silver;
  cursor: pointer;
}
#back:hover {
  margin: 10px;
  cursor: pointer;
}

#back {
  margin: 10px;
}

#overlay {
  float: left;
  background-color: white;
  position: absolute;
  width: 20%;
  max-height: 100%;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#user-name {
  width: 90%;
  margin-bottom: 10px;
}

#venue-review {
  height: 100px;
  width: 90%;
  border-color: #D2D2D2;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  border-left: 1px solid #fff;
  position: absolute;
  left: 20%;
  width: 80%;
}